Getting all the numbers from a string

In [7]:
x = "I would love 2 to go 2 that restaurant 3 times"

y = [i for i in x if i.isnumeric()]

print(' nums: ' + ''.join(y))

 nums: 223

getting index from a list items

In [11]:
names = ["a","c","d"]

idx = [x for x, v in enumerate(names) if v == "c"]

print("index " + str(idx[0]))

index 1

if-else condition in a comprehension

In [1]:
num = [5,3,10,15,12]

y = [ x if x%2 == 0 in num else 10*x for x in num]

print("num: " + str(y))

num: [50, 30, 100, 150, 120]

nested loop iteration for 2d list

In [2]:
a = [[1,2],[3,4]]

new_list = [x for b in a for x in b]

print("new_list: " + str(new_list))

new_list: [1, 2, 3, 4]

In [4]:
c = [[1,2],[3,4]]
for d in c:
  print(d)
  for x in d:
    print(x)

[1, 2]
1
2
[3, 4]
3
4